* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  touch-action: manipulation;
}

html > * {
  box-sizing: inherit;
  touch-action: inherit;
}

body {
  background-color: #ccc;
}

#container {
  background-color: #000;
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 1.5rem auto;  
  border-radius: 1.8rem;
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  #container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
} 

.screen {
  min-height: 40%;
  background-color: #000;
  padding: 10px;
  color:#fff;
  font-size: 4em;
  letter-spacing: 3px;
  display: flex;
  align-items: end;
  justify-content: end;
  overflow: hidden;
}
#display {
  text-align: right;
  word-break: break-all;
}

#keyboard {
  background-color: #000;
  min-height: 50%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 12px;
}

.btn-gray {
  background-color: #a0a0a0;
}

.btn-orange {
  background-color: #f69a06 ;
  color: #fff;
}

.btn-dark {
  background-color: #313131 ;
  color: #fff;
}

.zero {
  grid-column: 1 / 3;
  
}

.btn {
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  text-align: center;
  transition: background-color 200ms ease;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn:active {
  background-color: rgba(255,255,255,0.3);
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: rgba(255,255,255,0.3);
  }
}
