html {
  box-sizing: border-box;
  font-family: sans-serif;
}

html > * {
  box-sizing: inherit;
}

body {
  background-color: #ccc;
  margin: 0;
}

#container {
  background-color: #000;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;  
  border-radius: 30px;
  padding: 10px;
}

.screen {
  height: 170px;
  background-color: #000;
  padding: 10px;
  color:#fff;
  font-size: 4em;
  letter-spacing: 3px;
  display: flex;
  align-items: end;
  justify-content: end;
}
#display {
  max-height: 148px;
  text-align: right;
  word-break: break-all;
}

#keyboard {
  background-color: #000;
  height: 350px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 12px;
}

.btn-gray {
  background-color: #a0a0a0;
}

.btn-orange {
  background-color: #f69a06 ;
  color: #fff;
}

.btn-dark {
  background-color: #313131 ;
  color: #fff;
}

.zero {
  grid-column: 1 / 3;
  
}
.btn {
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  text-align: center;
  transition: background-color 200ms ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255,255,255,0.3);
}